@model Category
@{
    ViewData["Title"] = "Delete Category";
}

<div>
    <h2>
        Are you sure you need to delete a category?
    </h2>
    <h4>
        @Model.Title
    </h4>
</div>
@using (Html.BeginForm("DeleteCategory", "Administration", FormMethod.Post))
{
    <input type="submit" value="Delete" class="btn btn-primary" />
}

