@model Category
@{
    ViewData["Title"] = "Edit Category";
}

<h4>Edit category</h4>
@using (Html.BeginForm("EditCategory", "Administration", FormMethod.Post))
{
    <label for="title">New name category</label>
    <br />
    <input type="text" class="form-control" name="title" value="@Model.Title">
    <br />
    <input type="submit" value="Edit" class="btn btn-primary" />
}