@model Category
@{
    ViewData["Title"] = "Edit Category";
}

<h4>Edit category</h4>
<form asp-antiforgery="true" asp-action="EditCategory" asp-controller="Administration">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <label for="title">New name category</label>
    <br />
    <input type="text" class="form-control" name="title" value="@Model.Title">
    <b>
        <span asp-validation-for="Title"></span>
    </b>
    <br />
    <input type="submit" value="Edit" class="btn btn-primary" />
</form>

@section scripts{
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
